@import url(http://fonts.googleapis.com/css?family=Artifika);

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    outline: none;
    
}

body {
    padding: 0;
    padding-top: 50px;
}

p {
    padding-left: 5px;
}

h2, h3, h4, h5 {
    padding-left: 20px;
}

hr {
    border: 1px solid #222;
}

section {
    margin: 5% auto;
}

input {
    
}

#bot_test{
    display: none;
}

iframe {
    width: 95%;
    padding: 2%;
}

textarea {
    resize: none;
}

footer {
    background-color: #222;
    min-height: 100px;
    
    width: 100%;
}

h1 {
    display: inline-block;
    float: right;
    font-family: 'Artifika', serif;
    margin-top: 10%;
}

h2 {
    font-family: 'Artifika', serif;
    max-width: 500px;
}

h3 {
    font-family: 'Artifika', serif;
}

h4 {
    font-family: 'Artifika', serif;
    text-align: center;
    margin-top: 40px;
}

h5 {
    font-family: 'Artifika', serif;
}

 .homeBody {
    background-color: #000;
    color: #f7f7f7;
    padding: 0;
    margin: 0;
}
.fixedBack {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index:-1000;
}
.navbar {
    margin-bottom: 0;
    position: fixed;
}
.homeContainer {
    margin:0;
    width:100%;
    min-width: 950px;
}

.comingSoon {
    position: absolute;
    z-index: 999;
    top:25%;
    left: 23%;
    z-index: 1000;
    width: 200px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.comingSoon:hover {
    text-shadow: -1px 1px 5px #D02E2B;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.bbLogo {
    width: 100%;
    min-height: 200px;
    background: url('../img/billionBitsLogo.jpg') no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.bbLogo:hover {
    background: url('../img/billionBitsLogoHover.jpg') no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.bbMap {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    z-index: -999;
}

#splashTitle {
    text-align: right;
    color: white;
    font-family: 'Artifika', serif;
    font-size: 3em;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

#title {
    text-align:right;
    color: white;
    font-family: 'Artifika', serif;
    font-size: 4em;
    display: inline;
    text-shadow: 1px 1px 1px #222;
}

@media only screen and (max-width: 767px) {
    #title {
        display: block;
        text-align: center; 
    }
}

.navbar-inverse .brand {
    font-family: 'Artifika', serif;
    color: #fff;
    padding-left: 5%;
}

a {
    color: #D02E2B;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.brandLogo {
    width: 5%;
    overflow: visible;
}

.logo {
    width:25%;
    display: inline-block;
    margin: 5% 0;
    min-width: 150px;
    text-align: center;
}

@media (max-width: 765px) {
    .logo {
        display: block;
        margin: auto;
        width: 30%;
    }
    h1#title {
        margin-top: 5%;
        display: block;
        width: 100%;
        text-align: center;
    }
}

.hero-unit {
    background-color: #222;
    background: url('../img/billionPlaceholder.jpg') no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x:right;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

@media only screen and (min-width: 994px){
    .hero-unit {
        background: url('../img/billionPlaceholder.jpg') no-repeat right center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment : fixed;  /* FIXED FOR IE */
        background-position-x:right;
    }
}

.content {
    margin-top: 20px;
}

.contentImage {
    position: relative;
    height: 100%;
    margin-top: 2.5%;
    min-height: 30em;
    border: 1px solid #222;
    background: url('../img/eventsPlacehold.jpg') no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (min-width: 994px){
    .contentImage {
        background: url('../img/eventsPlacehold.jpg') no-repeat left center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment : fixed;  /* FIXED FOR IE */
    }
}

    .content p {
        padding-left: 5px;
    }

.formatAside {
    border: 1px solid #222;
    padding: 10px;
    width: 90%;
    background-color: #222;
    margin: auto;
    display: block;
}

@media only screen and (max-width: 767px) {
    .formatAside {
        margin-left: 0;
        padding: 0;
        display: inline-block;
        width: 100%;
    }
}

    .formatAside ul {
        color: #fff;
        list-style: none;
        margin-left: 0;
        padding: 5px 10px;
        background: url('../img/missionPlacehold.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    @media only screen and (min-width: 994px){
        .formatAside ul {
            background: url('../img/missionPlacehold.jpg') no-repeat center center fixed #eee;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-attachment : fixed;  /* FIXED FOR IE */
        }
    }

    .formatAside li {
        margin: 5px 0 5px 0;
        line-height: 300%;
        border-bottom: 1px solid #D02E2B;
        background-color: rgba(0,0,0,0.6);
        padding-left: 5px;
    }

    .formatAside h3 {
        color: #fff;
        text-align: center;
    }

.formatContent {
    float: left;
    margin-bottom: 20px;
}

.eventContain {
    width: 90%;
    margin: auto;
}

.wide {
    display: inline-block;
}

@media only screen and (max-width: 992px) {
    .wide {
       display: none; 
    }
}

.event {
    color: #fff;
    text-shadow: 1px 1px 1px #222;
    min-height: 150px;
    margin-bottom: 1em;
    border: 1px solid #222;
    background-color: #eee;
    overflow: hidden;
    border: 1px solid #222;
    background: #eee;
}

@media only screen and (min-width: 994px){
    .event {
        background: url('../img/missionPlacehold.jpg') no-repeat center center fixed #eee;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment : fixed;  /* FIXED FOR IE */
    }
}

#noEventsTitle {
    margin-top:50px;
}

.buttonContain {
    display: block;
    margin: auto;
    width: 90%;
    
}

.eventBriteBtn {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.eventMapBtn {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;   
}

.event h3 {
    text-align: center;
    font-size: 2.25em;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.6);
}

.eventDetail h3 a {
    color: #fff;
}

.eventImage {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 10%;
}

.eventContent {
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
    margin-top: 20px;
    margin-bottom: 30px;
}

.eventContent h4 {
    margin-top: 0;
}

.presenterContact {
    padding-left: 5%;
}

    .presenterContact h4 {
        margin-top: 20px;
    }

.wideInputs {
    width: 95%;
}

.input-prepend .add-on {
    background-color: #222;
    color: #fff;
    width: 85px;
    
}

.input-prepend input, .input-prepend textarea {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    width: 70%;
}

#socialsContain {
    background: url('../img/ConnectPlaceHold.jpg') no-repeat right #eee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 375px;
    padding: 20px;
    padding-top: 0;
    border: 1px solid #222;
}

@media only screen and (min-width: 994px) {
    #socialsContain {
        background: url('../img/ConnectPlaceHold.jpg') no-repeat right fixed #eee;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment : fixed;  /* FIXED FOR IE */
    }
}

.socialSpacingTW, .socialSpacingFB {
    margin-top: 15%;
    line-height: 110%;
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .socialSpacingTW {
        margin-top: 5%;
    }
    .socialSpacingFB {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 767px) {
    .socialSpacingTW, .socialSpacingFB {
        margin-top: 50%;
    }
}

@media only screen and (min-width: 980px) {
    .socialSpacingTW, .socialSpacingFB {
        margin-top: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .socialSpacingTW, .socialSpacingFB {
        margin-top: 28%;
    }
}

a .centerSocial {
    font-size: 120px;
    width: 100%;
    text-align: center;
    color: #222;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

a .centerSocial:hover {
    color: #D02E2B;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

a .centerSocial:active {
    color: #f7f7f7;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.footerRow {
    padding-top: 25px;
    padding-bottom: 25px;
}

.twitterContain {
    display: block;
    margin: auto;
    width: 99%;
}

.sponsorLogo {
    clear: both;
    margin: auto;
    padding-top: 2%;
    display: block;
    max-width: 200px;
}

.footerCopy {
    margin-top: 20px;
}

.textCenter {
    color: #555;
    text-align: center;
}

.archiveEvent {
    
}

.archiveImage {

}


div.event .eventArchiveBtn {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;   
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}